@import 'tailwindcss';

/* === Light Theme === */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --tirolai: #18ffff;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

/* === Dark Theme === */
.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

/* Apply base styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.backdrop-blur-md {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

[data-state='open'].animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}
[data-state='closed'].animate-fadeOut {
  animation: fadeOut 0.2s ease-in forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
